<ion-view view-title="Directions">
  <ion-content>
    <div class="list">

      <div class="item">
        <h2>Excuse me</h2>
        <h2 class="positive">Простите</h2>
        <p>
          pras-ti-tye
        </p>
      </div>

    <div class="item">
      <h2>Where is...?</h2>
      <h2 class="positive">Где ...?</h2>
      <p>
        Gdye...?
      </p>
    </div>

    <div class="item">
      <h2>To where ...? (direction)</h2>
      <h2 class="positive">Куда ...?</h2>
      <p>
        Ky-da ...?
      </p>
    </div>

    <div class="item">
      <h2>A ticket to (...) / one way</h2>
      <h2 class="positive">билет () / в одну</h2>
      <p>
        Bi-let () / va-din
      </p>
    </div>

</div>
  </ion-content>
</ion-view>
