<ion-view view-title="Emergencies">
  <ion-content>
    <div class="list">

    <div class="item">
      <h2>Help me, please</h2>
      <h2 class="positive">Помогите, пожалуйста</h2>
      <p>
        po-mo-gi-te, po-za-lyusta
      </p>
    </div>

    <div class="item">
      <h2>Leave me alone!</h2>
      <h2 class="positive">Пpивaливaй</h2>
      <p>
        Pri-va-li-vai!
      </p>
    </div>

    <div class="item">
      <h2>I'm ill</h2>
      <h2 class="positive">я болен</h2>
      <p>
        Ya bo-len
      </p>
    </div>

</div>
  </ion-content>
</ion-view>
