<ion-view view-title="Essentials">
  <ion-content>
    <div class="list">

    <div class="item">
      <h2>Yes</h2>
      <h2 class="positive">Да</h2>
      <p>
        da
      </p>
    </div>

    <div class="item">
      <h2>No</h2>
      <h2 class="positive">Нет</h2>
      <p>
        nyet
      </p>
    </div>

    <div class="item">
      <h2>Please</h2>
      <h2 class="positive">Пожалуйста</h2>
      <p>
        pa-zhal-sta
      </p>
    </div>

    <div class="item">
      <h2>Thank You</h2>
      <h2 class="positive">Спасибо</h2>
      <p>
        spa-si-ba
      </p>
    </div>

    <div class="item">
      <h2>You’re welcome</h2>
      <h2 class="positive">Не за что</h2>
      <p>
        pa-zhal-sta
      </p>
    </div>

    <div class="item">
      <h2>Excuse me</h2>
      <h2 class="positive">Простите</h2>
      <p>
        pras-ti-tye
      </p>
    </div>

    <div class="item">
      <h2>I’m sorry</h2>
      <h2 class="positive">Извините</h2>
      <p>
        iz-vi-ni-te
      </p>
    </div>

    <div class="item">
      <h2>I don’t understand</h2>
      <h2 class="positive">Я не понимаю</h2>
      <p>
        ya nye pa-ni-ma-yu
      </p>
    </div>

    <div class="item">
      <h2>I don’t speak Russian</h2>
      <h2 class="positive">Я не говорю по-Русски</h2>
      <p>
        ya nye go-vo-ryu po russ-ky
      </p>
    </div>

    <div class="item">
      <h2>Do you speak English?</h2>
      <h2 class="positive">Вы говорите по-Английски?</h2>
      <p>
        Vi ga-va-ri-te po an-glis-ki
      </p>
    </div>

    <div class="item">
      <h2>Help me, please</h2>
      <h2 class="positive">Помогите, пожалуйста</h2>
      <p>
        po-mo-gi-te, po-za-lyusta
      </p>
    </div>

    <div class="item">
      <h2>How much is it?</h2>
      <h2 class="positive">сколько стоит?</h2>
      <p>
        S-kol-ka s-toich? 
      </p>
    </div>

</div>
  </ion-content>
</ion-view>
