<ion-view view-title="Key patterns">
  <ion-content>
    <div class="list">

    <div class="item">
      <h2>Zero (0)</h2>
      <h2 class="positive">ноль</h2>
      <p>
        No-ol
      </p>
    </div>

    <div class="item">
      <h2>One (1)</h2>
      <h2 class="positive">Один</h2>
      <p>
        A-din
      </p>
    </div>

    <div class="item">
      <h2>Two (2)</h2>
      <h2 class="positive">Два</h2>
      <p>
        Dva
      </p>
    </div>

    <div class="item">
      <h2>Three (3)</h2>
      <h2 class="positive">Три</h2>
      <p>
        Tri
      </p>
    </div>

    <div class="item">
      <h2>Four (4)</h2>
      <h2 class="positive">четыре</h2>
      <p>
        che-ty-re
      </p>
    </div>

    <div class="item">
      <h2>Four (4)</h2>
      <h2 class="positive">четыре</h2>
      <p>
        che-ty-rye
      </p>
    </div>

    <div class="item">
      <h2>Five (5)</h2>
      <h2 class="positive">пять</h2>
      <p>
        pyat
      </p>
    </div>

    <div class="item">
      <h2>Six (6)</h2>
      <h2 class="positive">шесть</h2>
      <p>
        shest
      </p>
    </div>

    <div class="item">
      <h2>Seven (7)</h2>
      <h2 class="positive">семь</h2>
      <p>
        syem
      </p>
    </div>

    <div class="item">
      <h2>Eight (8)</h2>
      <h2 class="positive">восемь</h2>
      <p>
        bo-syem
      </p>
    </div>

    <div class="item">
      <h2>Nine (9)</h2>
      <h2 class="positive">девять</h2>
      <p>
        dyev-yat
      </p>
    </div>

    <div class="item">
      <h2>Ten (10)</h2>
      <h2 class="positive">десять</h2>
      <p>
        dyes-yat
      </p>
    </div>

    <div class="item">
      <h2>One hundred (100)</h2>
      <h2 class="positive">сто</h2>
      <p>
        sto
      </p>
    </div>

    <div class="item">
      <h2>One thousand (1000)</h2>
      <h2 class="positive">тысяча</h2>
      <p>
        ti-si-cha
      </p>
    </div>


</div>
  </ion-content>
</ion-view>
