<ion-view view-title="Key patterns">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        Mix this sentences with other words to ask questions.
      </div>
    </div>

    <div class="list">

    <div class="item">
      <h2>When is (...)?</h2>
      <h2 class="positive">Когда (...)?</h2>
      <p>
        Kag-da (...)?
      </p>
    </div>

    <div class="item">
      <h2>Where is (...)?</h2>
      <h2 class="positive">Где (...)?</h2>
      <p>
        Gdye (...)?
      </p>
    </div>

    <div class="item">
      <h2>Where can I (...)?</h2>
      <h2 class="positive">Где можно (...)?</h2>
      <p>
        Gdye moz-na (...)?
      </p>
    </div>

    <div class="item">
      <h2>I'd like (...)?</h2>
      <h2 class="positive">мне бы хотел (...)?</h2>
      <p>
        Mne bih ka-tel (...)?
      </p>
    </div>

    <div class="item">
      <h2>Can I (...)?</h2>
      <h2 class="positive">можно (...)?</h2>
      <p>
        Moz-na (...)?
      </p>
    </div>

</div>
  </ion-content>
</ion-view>
