<ion-view view-title="Restaurant">
  <ion-content>
    <div class="list">

      <div class="item">
        <h2>Could I have the menu, please?</h2>
        <h2 class="positive">Можно меню, пожалуйста?</h2>
        <p class="asertive">
        moz-no me-nyu, po-za-lyus-ta?
        </p>
      </div>

    <div class="item">
      <h2>Table for two?</h2>
      <h2 class="positive">столиyк нa Двоих?</h2>
      <p class="asertive">
        stol-ik na dva-ikh?
      </p>
    </div>

    <div class="item">
      <h2>Delicious!</h2>
      <h2 class="positive">вкусно</h2>
      <p class="asertive">
        f-kyus-na!
      </p>
    </div>

    <div class="item">
      <h2>Please bring the bill</h2>
      <h2 class="positive">Пожалуйста, принесите счет</h2>
      <p class="asertive">
        pa-zhal-sta, pri-ni-sit-ye shot
      </p>
    </div>

</div>
  </ion-content>
</ion-view>
