<ion-view view-title="Small Talk">
  <ion-content>
    <div class="list">

    <div class="item">
      <h2>Hello!</h2>
      <h2 class="positive">Привет!</h2>
      <p>
        Privet!
      </p>
    </div>

    <div class="item">
      <h2>Goodbye!</h2>
      <h2 class="positive">До свидания!</h2>
      <p>
        do sviDAnia!
      </p>
    </div>

    <div class="item">
      <h2>Good morning</h2>
      <h2 class="positive">Доброе утро</h2>
      <p>
        dObroye Utro
      </p>
    </div>

    <div class="item">
      <h2>Good evening</h2>
      <h2 class="positive">Добрый вечер</h2>
      <p>
        dObriy VEcher
      </p>
    </div>

    <div class="item">
      <h2>Good night</h2>
      <h2 class="positive">Доброй ночи</h2>
      <p>
        DObroi NOchi
      </p>
    </div>

    <div class="item">
      <h2>How are you?</h2>
      <h2 class="positive">Как дела?</h2>
      <p>
        kak dela?
      </p>
    </div>

    <div class="item">
      <h2>What’s your name?</h2>
      <h2 class="positive">Как тебя зовут?</h2>
      <p>
        kak teBYA zoVUT?
      </p>
    </div>

</div>
  </ion-content>
</ion-view>
